@import 'https://fonts.googleapis.com/css?family=Cutive+Mono';
* {
 font-family: "Cutive Mono"
}

li {
  font-size: 1.5em;
}

img {
  display: inline-block;;
}

h1 {
  display: inline-block;
  margin-bottom: 0;
}
